torch
torchtext
torchvision
torchaudio
transformers
datasets
pandas
numpy
scikit-learn
matplotlib
seaborn
wandb
nltk
spacy
jupyter
tqdm
python-dotenv
requests


#python -m spacy download en_core_web_sm